.song {
    display: flex;
    align-items: left;
    width: 100%;
    border: 1.5px solid;
    border-color: var(--secondary-color);
}

.icon {
    height: 8rem;
    width: 8rem;
}

.information-container {
    flex-direction: column;
    padding: 0.5rem 0 0 0.5rem;
    width: 100%;
    max-height: 8rem;
    overflow: hidden;
}

.name {
    color: var(--white-color);
    font-size: 175%;
    padding: 0 0 0.5rem 0;
}

.artists {
    color: var(--secondary-color);
    font-size: 125%;
}

.song-end-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: right;
    width: 1fr;
}

.duration {
    color: var(--secondary-color);
    font-size: 125%;
    padding: 0 0.5rem 0 0.5rem;
}

.add-button2 {
  width: 8rem;
  height: 8rem;
  background: var(--bg-color);
  align-self: center;
  cursor: pointer;
  border-radius: 4rem;
}

.add-button-icon2 {
    font-size: 400%;
    color: var(--secondary-color)
}

/*============ MEDIA QUERIES ============*/

@media only screen and (max-width: 1024px) {
    .icon {
        height: 6rem;
        width: 6rem;
    }

    .information-container {
        max-height: 6rem;
    }

    .name {
        font-size: 125%;
    }

    .artists {
        font-size: 75%;
    }

    .duration {
        font-size: 80%;
    }

    .add-button2 {
        height: 4rem;
        width: 4rem;
        border-radius: 2rem;
    }

    .add-button-icon2 {
        font-size: 250%;
    }
}

@media only screen and (max-width: 600px) {
}
