.queue {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.queue-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    gap: 0.5rem;
}

.queue-error {
    color: var(--primary-color);
    font-size: 200%;
    text-align: center;
}

/*============ MEDIA QUERIES ============*/

@media only screen and (max-width: 1024px) {
    .queue-item-container {
        width: 95%;
    }

    .queue-error {
        font-size: 150%;
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
}
